<nav>
    <ul>
        <li>
            <a href="#">
                <i class="pi pi-home" style="font-size: 1.5rem"></i>
                <!-- Inicio -->
            </a>
        </li>
        <li>
            <a routerLink="/search">
                <i class="pi pi-search" style="font-size: 1.5rem"></i>
                <!-- Buscar -->
            </a>
        </li>
        <li>
            <a routerLink="food-form/new">
                <i class="pi pi-plus" style="font-size: 1.5rem"></i>
                <!-- Add -->
            </a>
        </li>
        <li>
            <a href="#">
                <i class="pi pi-food" style="font-size: 1.5rem"></i>
                <!-- Recetas -->
            </a>
        </li>
        <li>
            <a href="#">
                <i class="pi pi-user" style="font-size: 1.5rem"></i>
                <!-- Usuario -->
            </a>
        </li>
    </ul>
</nav>